<div class="guessLine">
  <form [formGroup]="dateForm" (ngSubmit)="onDateChoice()" class="guessElement">
    <label for="enterDate"></label>
    <input type="text" formControlName="date" id="enterDate" value="Entrez la date">
    <button type="submit" class="guessElement">Deviner</button>
    <span class="guessElement">-- ? --</span>
  </form>
</div>
<div class="title">
  <h2>Carte à deviner</h2>
</div>
<div class="center">
  <div *ngIf="guessingCard" class="card">
    <h2 class="title">{{guessingCard.name}}</h2>
    <p><img src="{{guessingCard.imageUrl}}" class="card-image"></p>
    <p class="card-description">{{guessingCard.description}}</p>
  </div>
</div>
<div class="title">
  <h2>Cartes trouvées</h2>
</div>
<div class="guessedCards">
<div *ngFor="let guessedCard of guessedCards" class="card">
  <h2 class="title">{{guessedCard.name}}</h2>
  <p><img src="{{guessedCard.imageUrl}}" class="card-image"></p>
  <p class="card-description">{{guessedCard.description}}</p>
</div>
</div>
